:root {
    --background-color: #1C1D1F;
    --foreground-color: #303235;
    --text-color: #ffffff;
    --button-hover-color: rgba(255, 255, 255, 0.85);
    --button-text-color: #1C1D1F;
    --placeholder-text: rgba(255, 255, 255, 0.5);
    --button-bg-color: rgba(221, 221, 221, 0.85);
}

html {
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 0.5rem;
}

*::-webkit-scrollbar-track {
    background-color: var(--background-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--foreground-color);
    border-radius: 1rem;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--placeholder-text);
}

@keyframes load-items {
    from {
        background-color: transparent;
        box-shadow: 0px 0px 00px #000000;
    }

    to {
        background-color: var(--foreground-color);
        box-shadow: 0px 0px 50px #000000;
    }
}

@keyframes unload-items {
    from {
        background-color: var(--foreground-color);
        box-shadow: 0px 0px 50px #000000;
        border-radius: 15px;
    }
    
    to {
        background-color: transparent;
        box-shadow: 0px 0px 00px #000000;
        border-radius: 15px;
    }

}

@keyframes unload-page {
    to {
        background-color: transparent;
    }

    from {
        background-color: var(--background-color);
    }
}

@font-face {
    font-family: 'customFont';
    src: url("font.ttf");
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'customFont';
    font-size: 15px;
    color: var(--text-color);
    font-weight: bold;
}

body {
    min-width: 700px;
    height: 100dvh;
    background-color: var(--background-color);
    overflow: clip;
}

@media screen and (max-width: 700px) {
    * {
        font-size: 11px;
    }
}

.side-menu img {
    width: 2.8rem;
    height: 2.8rem;
}

.page {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
    transition: background-color 200ms linear;
}

.page:hover {
    background-color: var(--background-color);
}

.page-selected {
    background-color: var(--background-color);
}

.side-menu {
    width: 4rem;
    height: 100%;
    background-color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 3rem;
    position: fixed;
    top: 0;
    left: 0;
}

.frame {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    position: fixed;
    top: 4rem;
    left: 4rem;
}

/* Sign up */
.card {
    width: 50rem;
    height: 35rem;
    background-color: var(--foreground-color);
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 50px 2px #000000;
    justify-content: space-evenly;
}

.singup-title {
    font-family: 'customFont';
    font-size: 3rem;
}

.fieldP {
    font-family: 'customFont';
    font-size: 1rem;
    transition: all 250ms ease;
}

.fieldI {
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    width: 20rem;
    text-align: center;
    font-family: 'customFont';
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--background-color);
}

.fieldI::placeholder {
    color: var(--placeholder-text)
}

.btn {
    border-radius: 1rem;
    outline: none;
    border: none;
    text-align: center;
    font-family: 'customFont';
    font-size: 1rem;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    padding: 1rem 8rem 1rem 8rem;
    cursor: pointer;
    transition: all 150ms linear;
}

.btn:hover {
    background-color: var(--button-hover-color);
}

.logo {
    width: 45px;
    height: 45px;
    z-index: 1;
    position: absolute;
    left: 8px;
    top: 8px;
}